table
{
  width: 100%;
}

.name-container
{
  margin-left: 1rem;
}


.column-container
{
  border-bottom: 1px solid #E7E7E7;
}

.pagination
{
  line-height: 0.7rem;
  position: relative;
  justify-content: right;
  margin-top: 1rem;
  margin-right: 6rem;
}
