thead
{
  display: flex;
}

th
{
  border-bottom: none;
}

hr
{
  margin: 0;
  height: 2px;
  color: #CDCDCD
}

.bugs-container
{
  padding-top: 0.5rem;
  margin: 2rem 2rem;
  height: 100%;
  background: #F2F2F2;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 0.1rem;
}

.new-project-button
{
  margin-left: 70%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  width: 7rem;
  height: 1.7rem;
  border-radius: 15px;
  border: none;
  background-color: #2580B6;
  color: #ffffff;
}

.table-row
{
  border: none;
  line-height: 2.5rem;
}


.headers-row-first
{
  padding-left: 2rem;
  width: 300px;
}

.headers-row
{
  width: 250px;
}

.issues-link
{
  font-weight: 400;
  text-decoration: none;
  margin-left: 2.6rem;
  color: #2A71B0
}

.no-projects-span
{
  position: relative;
  margin-top: 7%;
  margin-left: 40%;
}

.pagination
{
  position: relative;
  right: 1rem;
  bottom: 0;
  justify-content: right;
  margin-right: 1rem;
}

