<div class="add-container">
  <div class="add-edit-title-container">
    <i class="fa fa-bug bug-icon"></i>
    <h4 class="add-edit-title">
      Report New Issue
    </h4>
    <hr>
  </div>

  <form [formGroup]="addBugFormGroup"
        (ngSubmit)="onSubmit()"
        class="add-edit-form">
    <div>
      <i class="fal fa-triangle-exclamation header-icon"></i>
      <label class="add-edit-label">
        Issue
      </label>
      <input type="text"
             formControlName="name"
             class="form-control input"
             placeholder="Enter issue name">
    </div>

    <div class="inline-input-left">
      <i class="fal fa-boxes header-icon"></i>
      <label class="add-edit-label">
        Classification
      </label>
      <select class="dropdown"
              formControlName="classification">
        <option value="" disabled selected hidden>
          Choose classification
        </option>
        <option *ngFor="let classification of classificationOptions">
          {{classification.option}}
        </option>
      </select>
    </div>

    <div class="inline-input-right">
      <i class="fa fa-house-fire header-icon"></i>
      <label class="add-edit-label">
        Severity
      </label>
      <select class="dropdown"
              formControlName="severity">
        <option value=""
                id="severityDefault" disabled selected hidden>
          Choose severity
        </option>
        <option *ngFor="let severity of severityOptions">
          {{severity.option}}
        </option>
      </select>
    </div>

    <div class="inline-input-left">
      <i class="fa fa-code header-icon"></i>
      <label class="add-edit-label">Projects</label>
      <app-select-project
        [formSubmitted$]="addBugFormSubmittedEvent"
        (projectSelectedEvent)="onProjectSelected($event)">
      </app-select-project>
    </div>

    <div *ngIf="isProjectLeader"
         class="inline-input-right" >
      <i class="fa fa-user-pen header-icon"></i>
      <label class="add-edit-label">
        Assignee
      </label>
      <app-select-assignee
        [projectSelected$]="projectSelectedEvent"
        (assigneeSelectedEvent)="onAssigneeSelected($event)">
      </app-select-assignee>
    </div>

    <div class="description-container">
      <i class="fal fa-align-left header-icon"></i>
      <label class="add-edit-label">
        Description
      </label>
      <textarea type="text"
                formControlName="description"
                class="form-control input add-edit-description"
                placeholder="Enter a short description..."></textarea>
    </div>
    <button type="submit"
            class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
<div class="description-helper-container">

</div>

<router-outlet></router-outlet>
<notifier-container></notifier-container>
<app-spinner></app-spinner>
