.body
{
  min-height: 100vh;
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #F0F0F0;
  padding-bottom: 1rem;
}

.body-trimmed
{
  width: calc(100% - 16.625rem);
  margin-left: 16.625rem;
}

.body-md-screen
{
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body-header
{
  width: 100%;
  height: 100px;
  background: #ECECEC;
}

.category-container
{
  padding-top: 1rem;
  margin-left: 3rem;
}

.category
{
  font-size: 25px;
  font-weight: bold;

}

.category-description
{
  font-size: 15px;
  color: #9e9e9e;
}


